.timer {
  background-color: $color-primary;
  border: $color-secondary solid 2px;
  color: $color-secondary;
  padding: 2rem;
  position: absolute;
  right: 5rem;
  bottom: 3rem;

  @include responsive(t-port) {
    position: initial;
  }

  display: flex;
  flex-direction: column;

  &__heading {
    font-family: got;
    font-size: 1.8rem;
  }

  &__time {
    text-align: center;
    font-family: got;
  }
}