@font-face {
  font-family: got;
  src: url("got.ttf");
}

h1,
h2,
h3,
h4 {
  font-family: got;
  text-align: center;
}

p {
  font-family: fantasy;
  font-size: 1.5rem;
  color: $color-secondary;
  text-shadow: -1px -1px 0 $color-primary,
    1px -1px 0 $color-primary,
    -1px 1px 0 $color-primary,
    1px 1px 0 $color-primary;
}

.heading {

  &--main {
    color: $color-primary;
    font-size: 4rem;
    letter-spacing: .8rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    text-shadow: -1px -1px 0 $color-secondary,
    1px -1px 0 $color-secondary,
    -1px 1px 0 $color-secondary,
    1px 1px 0 $color-secondary;
  }

  &--secondary {
    margin-top: 7rem;
    margin-bottom: 5rem;
    letter-spacing: .8rem;
    font-size: 3.7rem;
    color: $color-primary;
    text-shadow: -1px -1px 0 $color-secondary,
    1px -1px 0 $color-secondary,
    -1px 1px 0 $color-secondary,
    1px 1px 0 $color-secondary;
  }

  &--question {
    margin: 3rem 0;
    color: $color-secondary;
    font-size: 2rem;
    letter-spacing: .4rem;
  }

  
}





