@keyframes bulge {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  /* makes it so that padding and width don't add to total size of element. i.e. height and width will now extend to define other parts of the box model */
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: got;
  src: url("got.ttf"); }

h1,
h2,
h3,
h4 {
  font-family: got;
  text-align: center; }

p {
  font-family: fantasy;
  font-size: 1.5rem;
  color: #e5b72b;
  text-shadow: -1px -1px 0 #860420, 1px -1px 0 #860420, -1px 1px 0 #860420, 1px 1px 0 #860420; }

.heading--main {
  color: #860420;
  font-size: 4rem;
  letter-spacing: .8rem;
  margin-top: 7rem;
  margin-bottom: 5rem;
  text-shadow: -1px -1px 0 #e5b72b, 1px -1px 0 #e5b72b, -1px 1px 0 #e5b72b, 1px 1px 0 #e5b72b; }

.heading--secondary {
  margin-top: 7rem;
  margin-bottom: 5rem;
  letter-spacing: .8rem;
  font-size: 3.7rem;
  color: #860420;
  text-shadow: -1px -1px 0 #e5b72b, 1px -1px 0 #e5b72b, -1px 1px 0 #e5b72b, 1px 1px 0 #e5b72b; }

.heading--question {
  margin: 3rem 0;
  color: #e5b72b;
  font-size: 2rem;
  letter-spacing: .4rem; }

.choice-btn {
  font-family: got;
  font-size: 1rem;
  padding: 1.5rem;
  color: #860420;
  background-color: #e5b72b;
  border: none;
  border-radius: 0.3rem; }
  .choice-btn:hover {
    cursor: pointer; }

.game-btn {
  font-family: got;
  font-size: 2.5rem;
  padding: 1rem;
  color: #860420;
  background-color: #e5b72b;
  border: none;
  animation: bulge 2s ease-in-out infinite; }
  .game-btn:hover {
    cursor: pointer;
    animation: none;
    color: black; }

body {
  background-image: url("../images/kings-landing.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(134, 4, 32, 0.8);
  padding: 2rem;
  border-radius: 0.3rem;
  border: solid 2px #e5b72b; }

.intro__instructions {
  margin-bottom: 1rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 2.5rem;
  letter-spacing: .2rem; }

.intro__btn--contain {
  margin: 2rem 0;
  display: flex;
  justify-content: center; }

.game__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
