.game {
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    position: relative;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}